body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 80%;
  margin: 0px auto;
}

.buttons-container button {
  margin: 0 20px 0 0;
}

form div {
  margin-top: 20px;
  width: 200px;
}

.date-picker label {
  top: -15px !important;
}